/*  your css code here. If applicable */
 *{
	background-color:white;
} 

ul{
	list-style-type:none;
	text-decoration-line:none;
}

.player_one{
	background-color:white;
	padding:1px;
	border-radius:1px;
}

.player_two{
	background-color:white;
	padding:1px;
	border-radius:1px;
}