/*  your css code here. If applicable */
 *{
	background-color:#cccccc;
} 

ul{
	list-style-type:none;
	text-decoration-line:none;
}

.player_one{
	border-radius:1px;
	background-color:white;
}

.player_two{
	padding-left:100px;
	border-square:100px;
	background-color:white;
}


